In [ ]:
# Player Count

# Total Number of Players


# Purchasing Analysis (Total)

# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue


# Gender Demographics

# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed


# Purchasing Analysis (Gender)

# The below each broken by gender

# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender




# Age Demographics

# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group




# Top Spenders

# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value




# Most Popular Items

# Identify the 5 most popular items by purchase count, then list (in a table):

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value




# Most Profitable Items

# Identify the 5 most profitable items by total purchase value, then list (in a table):

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value



# As final considerations:

# You must use the Pandas Library and the Jupyter Notebook.
# You must submit a link to your Jupyter Notebook with the viewable Data Frames.
# You must include a written description of three observable trends based on the data.
# See Example Solution for a reference on expected format.

In [6]:
import pandas as pd

In [29]:
# Total Number of Players
filepath = "Resources/purchase_data.csv"
purchase_df = pd.read_csv(filepath)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [61]:
# Total Number of Players
player_count =  len(purchase_df['SN'].unique())
print ("Total Number of Players: " + str(player_count))

Total Number of Players: 576

In [27]:
# Purchasing Analysis (Total)

# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue

In [70]:
# Number of Unique Items

item_count =  len(purchase_df['Item Name'].unique())
item_count =  len(purchase_df['Item ID'].unique())
print("Number of Unique Items: " + str(item_count))


# print(item_count)
# print(purchase_df['Item Name'].count())
# item_count =  purchase_df['Item Name'].count()

Number of Unique Items: 179

In [65]:
# Average Purchase Price
# sum of all the prices
# sum of all unique items 
# number of transactions 

# divide price sum /trasaction count 

# price_sum = purchase_df["Price"].mean()

# price_sum = purchase_df["Price"].unique().sum()
# print (price_sum)

price_sum = purchase_df["Price"].sum()
# print (price_sum)
total_transactions = len(purchase_df["Purchase ID"])
# print(total_transactions)

average_price = (price_sum/total_transactions)
# format average_price = (price_sum/total_transactions)

print ("Average Purchase Price: " + str(average_price))

Average Purchase Price: 3.0509871794871795

In [66]:
# Total Number of Purchases
print ("Total Number of Purchases: " + str(total_transactions))

Total Number of Purchases: 780

In [67]:
# Total Revenue
print("Total Revenue: " + str(price_sum))

Total Revenue: 2379.77

In [ ]:
# Gender Demographics

# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

In [69]:
# Percentage and Count of Male Players
purchase_df.groupby(["Gender"]).count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15